[package]
name = "testfilme"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
actix-files = "0.6"
rusqlite = "0.30"
wkhtmltopdf = "0.4.0"


